

{{page.navbar_region}}




<section class="banner" data-scroll-index='0'>

    {{page.banner}}

</section>




    {{page.content}}

    <section class="contact section-padding" data-scroll-index='6'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sectioner-header text-center">
          <h3>Contact us</h3>
          <span class="line"></span>
          <p>Sed quis nisi nisi. Proin consectetur porttitor dui sit amet viverra. Fusce sit amet lorem faucibus, vestibulum ante in, pharetra ante.</p>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
           {{page.contact}}
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
              {{page.contact2}}
            </div>
          </div>
        </div>
      </div>
    </div>
  
</section>
    {{page.footer_region}}






